.gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  grid-auto-flow: dense;
}

@media (min-width: 500px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  }
}
