.header__contacts {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin: 0 40px;
  justify-self: end;
  align-self: center;
}

@media all and (max-width: 950px) {
	.header__contacts {
    grid-row: -1;
    grid-column: 1 / -1;
    margin-right: 20px;
    margin-top: 20px;
    align-self: start;
  }
}
