.procedure-card {
  display: grid;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 0;
  --out-time: .5s;
  --in-time: .1s;
  transition: transform var(--out-time) ease-out, box-shadow var(--out-time) ease-out;
}

@media (hover: hover) {
  .procedure-card:hover,
  .procedure-card:focus-within {
    transform: translateY(-7px);
    box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.4);
    transition: transform var(--in-time) ease-out, box-shadow var(--in-time) ease-out;
  }

  .procedure-card:hover .procedure-card__more-info-btn {
    transform: scale(1.2) rotate(10deg);
    transition: transform var(--in-time) ease-out, box-shadow var(--in-time) ease-out;
  }
}
