.header__menu {
  padding: 30px 40px 20px;
  transition: height .3s;
  overflow: hidden;
}

@media all and (max-width: 950px) {
	.header__menu {
    padding: 0;
    position: fixed;
    background-color: var(--page-color);    
    top: var(--menu-height);
    height: 0;
    width: 100vw;
  }
}
