.header__menu {
  transition: height .3s;
  grid-column: 1 / -1;
  border-top: 1px solid currentColor;
  padding: 0 40px;
}

@media all and (max-width: 950px) {
	.header__menu {
    padding: 0;
    border-top: none;
  }
}
