.healing-calendar__heading {
  margin: 0 auto;
  padding: 18px 24px;
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid currentColor;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.25;
}

@media (max-width: 450px) {
  .healing-calendar__heading {
    font-size: 18px;
  }
}