.procedures {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(305px, auto));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  --gaps: 20px;
  gap: var(--gaps);
  padding: var(--gaps);
}

@media (max-width: 768px) {
  .procedures {
    --gaps: 10px;
  }
}