.procedures {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-auto-flow: dense;
  gap: 16px;
  padding: 16px;
}

@media (max-width: 768px) {
  .procedures {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }
}