.spec-cards {
  align-self: center;
  padding: 40px 15px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 70px;
  width: 100%;
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
	.spec-cards {
    gap: 50px;
  }
}

