.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.25;
  transition: font-size .2s;
}

@media all and (max-width: 950px) {
	.logo {
    font-size: 22px;
  }
}