@keyframes rotate-spinner {
  0% {
    border-radius: 38% 62% 55% 45% / 42% 55% 45% 58%;
  }
  10% {
    border-radius: 29% 71% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 64% 36% 83% 17% / 24% 41% 59% 76%;
  }
  30% {
    border-radius: 78% 22% 65% 35% / 42% 53% 47% 58%;
  }
  40% {
    border-radius: 62% 38% 51% 49% / 73% 32% 68% 27%;
  }
  50% {
    border-radius: 31% 69% 44% 56% / 60% 48% 52% 40%;
  }
  60% {
    border-radius: 56% 44% 37% 63% / 59% 69% 31% 41%;
  }
  70% {
    border-radius: 72% 28% 57% 43% / 34% 46% 54% 66%;
  }
  80% {
    border-radius: 49% 51% 56% 44% / 40% 69% 31% 60%;
  }
  90% {
    border-radius: 56% 44% 56% 44% / 52% 39% 61% 48%;
  }
  100% {
    border-radius: 38% 62% 55% 45% / 42% 55% 45% 58%;
  }
}

.spinner__spinner-el {
  --shadow: 0 0 15px currentColor,
    0 0 15px currentColor inset;
  --border: 2px solid currentColor;
  --rotation: rotate-spinner linear infinite 15s;
  color: yellow;
  padding: 2em;
  aspect-ratio: 1;
  border: var(--border);
  box-shadow: var(--shadow);
  animation: var(--rotation);
  position: relative;
  display: grid;
  place-items: center;
}

.spinner__spinner-el::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: deepskyblue;
  width: 100%;
  height: 100%;
  border: var(--border);
  box-shadow: var(--shadow);
  animation: var(--rotation);
  transform: rotate(45deg);
}
.spinner__spinner-el::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: deeppink;
  width: 100%;
  height: 100%;
  border: var(--border);
  box-shadow: var(--shadow);
  animation: var(--rotation);
  transform: rotate(-45deg);
}