.new-center__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
  gap: 8px;
}

@media(min-width: 768px) {
  .new-center__container {
    flex-direction: row;
  }
}
