.intro {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 589px;
  box-sizing: border-box;
  background-image: url(../../images/intro.webp);
  background-position: center;
  background-size: cover;
  padding: 40px;
  gap: 40px;
}

@media all and (max-width: 1164px) {
	.intro {
    min-height: 366px;
  }
}

@media all and (max-width: 767px) {
	.intro {
    padding: 0;
    min-height: auto;
    padding: 20px;
  }
}

@media all and (max-width: 480px) {
	.intro {
    min-height: 280px;
    padding: 10px;
  }
}

@media all and (max-width: 381px) {
	.intro {
    min-height: 240px;
  }
}
