@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

@import url(../page/page.css);
@import url(../wrapper/wrapper.css);

@import url(../logo/logo.css);
@import url(../logo/_place/_header/logo_place_header.css);
@import url(../logo/_place/_footer/logo_place_footer.css);
@import url(../logo/__img/logo__img.css);
@import url(../logo/__text/logo__text.css);

@import url(../header/header.css);
@import url(../header/_mobile-opened/header_mobile-opened.css);
@import url(../header/__menu-button/header__menu-button.css);
@import url(../header/__menu-button/_opened/header__menu-button_opened.css);
@import url(../header/__contacts/header__contacts.css);
@import url(../header/__link/header__link.css);
@import url(../header/__link/_current-page/header__link_current-page.css);
@import url(../header/__list/header__list.css);
@import url(../header/__menu/header__menu.css);
@import url(../header/__phone-number/header__phone-number.css);

@import url(../footer/footer.css);
@import url(../footer/__content-box/footer__content-box.css);
@import url(../footer/__heading/footer__heading.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__link/_type/footer__link_type_email.css);
@import url(../footer/__link/_type/footer__link_type_tel.css);
@import url(../footer/__link/_type/footer__link_type_address.css);
@import url(../footer/__link/_type/footer__link_type_telegram.css);
@import url(../footer/__link/_type/footer__link_type_vk.css);
@import url(../footer/__list/footer__list.css);
@import url(../footer/__schedule/footer__schedule.css);
@import url(../footer/__text/footer__text.css);
@import url(../footer/__text/_bold/footer__text_bold.css);

@import url(../headline/headline.css);

:root {
  --accent-color: #e25915;
  --page-color: #fff;
  --dark-text-color: #544d4d;
  --menu-height: 75px;
  scroll-behavior: smooth;  
  scroll-padding: 50px;
}