.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.25;
  position: relative;
}

.form__input:focus {
  border: 1px solid currentColor;
}

.form__input::placeholder {
  color: #999;
}

@media all and (max-width: 589px) {
	.form__input {
    min-height: 30px;
    font-size: 10px;
    padding-left: 15px;
  }
}
