.health-center {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 600px;
  align-items: center;
}

@media (max-width: 1024px) {
  .health-center {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
  }
}
