.our-contacts__link {
  display: flex;
  color: var(--dark-text-color);
  text-decoration: none;
  align-items: center;
  transition: .2s linear;
}

.our-contacts__link:hover {
  cursor: pointer;
  opacity: .5;
}