.health-center__photo {
  display: block;
  object-fit: cover;
  object-position: top;
  height: calc(100% - 40px);
  width: 100%;
}

@media (max-width: 1024px) {
  .health-center__photo {
    width: 100%;
    height: auto;
  }
}
