.complex__info-box {
  width: 36.04%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 1439px) {
	.complex__info-box {
    width: 50%;
  }
}

@media all and (max-width: 767px) {
	.complex__info-box {
    width: 100%;
    flex-basis: 230px;
  }
}