.complex__info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  flex-grow: 1;
}

@media all and (max-width: 1439px) {
	.complex__info-box {
    width: 40%;
  }
}

@media all and (max-width: 860px) {
	.complex__info-box {
    width: 100%;
    flex-basis: 230px;
  }
}