.header__list {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.header__list > li {
  list-style-type: none;
}

@media all and (max-width: 950px) {
  .header__list {
    flex-direction: column;
  }
}
