.intro__small-title {
  display: block;
  font-weight: 500;
  max-width: 600px;
  font-size: 21.44px;
  line-height: 1.2;
  text-align: center;
}

@media all and (max-width: 1164px) {
  .intro__small-title {
    max-width: 400px;
    font-size: 14px;
  }
}
