.button {
  display: block;
  border: none;
  background-color: var(--accent-color);
  color: #fff9f9;
  border-radius: 0.45em;
  line-height: 1.25;
  padding: 1em 2em;
  cursor: pointer;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: transform var(--out-time) ease-out,
    box-shadow var(--out-time) ease-out;
  box-shadow: 0 3px 8px rgb(0 0 0 / 30%);
}

.button:hover {
  transition: transform var(--in-time) ease-out,
    box-shadow var(--in-time) ease-out;
}

.button:enabled:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 rgb(0 0 0 / 30%);
  transition: transform var(--in-time) ease-out,
    box-shadow var(--in-time) ease-out;
}

.button:disabled {
  background-color: transparent;
  box-shadow: 0 0 0 1px #ddd;
  color: #ddd;
  cursor: auto;
  transition: transform var(--in-time) ease-out,
    box-shadow var(--in-time) ease-out;
}
